<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Rejestracja</title>
</head>
<body>
<nav>
    <div>
        <a href="${pageContext.request.contextPath}">Strona główna</a>
    </div>
</nav>
<h3>Rejestracja</h3>
<th:if test="${not empty validator}">
    <p>
        <th:out value="${validator}" />
    </p>
</th:if>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>password: <input type="password" th:field="*{password}" /></p>
    <p><input type="submit" value="Zatwierdz" /></p>
</form>
</body>
</html>